setuptools>=67.8.0
tensorflow>=2.10.1
numpy>=1.24.3
matplotlib>=3.7.1
scikit-image>=0.20.0
cmcrameri>=1.5
scikit-learn>=1.2.2
pyexiv2>=2.15.3
pyproj>=3.7.0
opencv-python>=4.10.0
pillow~=11.0.0
scipy~=1.13.1